**.orig
*.rbc
*.sassc
.project
.rspec
.rvmrc
.sass-cache
/.bundle
/config/*.yml
/config/authorities/*.yml
/config/environments/*.rb
/coverage/
/db/*.sqlite3
/jetty
/log/*
/public/assets
/public/system/*
/public/fonts/Lato-Light.ttf
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
pickle-email-*.html
rerun.txt
