**.orig
*.rbc
*.sassc
.project
.rspec
.rvmrc
.sass-cache
/.bundle
/config/*.yml
/config/environments/*.rb
/config/initializers/secret_token.rb
/coverage/
/db/*.sqlite3
/jetty
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
pickle-email-*.html
rerun.txt
