<h1>About</h1> 
<h2>What is <%=t('sufia.product_name') %>?</h2>
<p>
The Duke Digital Asset Management System is used by the Duke Online Course Initiatives group to archive project materials. More details and documentation will be available in late 2014.  If you have more questions about this tool, please get in touch by using the contact form.
</p>