<div id="footer-wrapper" class="row-fluid">
  <div id="footer">
    <div class="footer-logo">
      <p class="fright"><%= CourseAssets::VERSION %></p>
      <p><%= t('sufia.product_name')%></p>
    </div>
    <div class="footer-text">
      <ul>
        <li><a href="http://online.duke.edu/">Duke Online</a></li>
        <li><a href="https://www.coursera.org/duke">Duke Coursera</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div><!-- /footer -->
</div><!-- /footer-wrapper -->
