<div id="footer" class="container-fluid">
  <div class="row">
	  <div class="col-xs-12 col-sm-5">
	      <p class="pull-left"><%= t('course_assets.product_label') %> v.<%= CourseAssets::VERSION %></p>
	  </div>
	  <div class="col-xs-12 col-sm-7">
	    <p><a href="http://online.duke.edu/">Duke Online</a></p>
	    <p><a href="https://www.coursera.org/duke">Duke Coursera</a></p>
	  </div>
  </div><!-- /.row -->
</div><!-- /footer -->
